h1{
    text-align: center;
    font-size: 75px;
    margin: 50px;
    font-family: Courier;
    color: rgb(0, 0, 0);
}

h2{
    text-align: center;
    font-size: 75px;
    margin: 50px;
    font-family: Courier;
}

img{
    width: 500px;
    margin: auto;
    display: block;
    border: 2px solid black;
}

p{
    margin: 70px;
    font-size: 30px;
    margin: 50px 25% 100px 25%;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    margin: 100px 25% 100px 25%;
}

ol{
    margin:80px;
    font-size: 20px;
    margin: 2px 25% 0px 25%;    
}

ul{
    margin:80px;
    font-size: 20px;
}



.tesla{
    margin: 50px;
    margin: auto;
}

#img-bit {
    border-radius: 25px;
}

footer {
	background-color: #333;
	color: hsl(0, 0%, 100%);
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

#CorElementosFooter{
    color: rgb(109, 121, 7);
}

.botao{
    border: solid 1px rgb(167, 167, 167);
    border-radius: 20px;
    color: rgb(63, 49, 3);
    background-color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.7s ease;
}
.botao:hover{
    background-color: rgb(187, 187, 187);
    color: white;
    transform: scale(1.5)
}

span{
    font-weight: bold;
}

#footerPix{
    text-align: justify;
    text-align: center;
}

.backgroundImage{
    position: relative;
    background-image: url(../img/Fundo.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.fundo{
    margin: 0% 15% 0% 15%;
    background-color: burlywood;
    text-align: center;
}